/* VISUALIZZAZIONE SMARTPHONE  */
@media screen and (max-width:767px) {

    /* BOTTOM-BAR  */
    .bottom-bar-left-side li, .bottom-bar-right-side li, .bottom-bar-central-side ul li {
        padding: 0 2px
    }
    /* volume destra  */
    .bottom-bar-right-side li.progress{
        width: 30px
    }
    .bottom-bar-right-side .glyphicon {
        font-size: 10px;
    }

    /* immagine a sinistra  */
    li.bottom-bar-left-side-text-container.margin-right-20 {
        margin: 0;
    }
    .bottom-bar-left-side-text-container {
        font-size: 50%;
    }
    .bottom-bar-left-side-img-container img {
        width: 20px;
    }
    .bottom-bar-left-side .glyphicon {
        font-size: 10px;
    }
    .bottom-bar-central-side .play-bar li {
        padding: 0px 3px
    }
    /* central-side.bottom-bar  */
    .bottom-bar-central-side .glyphicon {
        font-size: 10px;
    }
    .bottom-bar-central-side .play-bar .glyphicon-play-circle {
        font-size:20px;
    }

    /* LEFT-ASIDE  */
    .main-content .left-aside {
        width: 40px;
    }
    .left-aside img {
        width: 55%;
        margin-left: 7px;
    }
    .left-aside .glyphicon {

    }
    .left-aside ul {
        padding:0 7px;
    }
    .profile-bar.padding-left-40 {
        padding:0 10px;
    }

    /* RIGHT-CONTENT  */
    /* pulsante top-bar  */
    .right-content .top-bar a {
        background-color: transparent;
        padding: 5px 10px;
        font-size: 80%;
    }
}




/* VISUALIZZAZIONE TABLET  */
@media screen and (min-width: 768px) and (max-width: 992px) {

    /* volume destra  */
    .bottom-bar-right-side li.progress{
        width: 60px
    }

    /* immagine a sinistra  */
    .bottom-bar-left-side-img-container img {
        width: 40px;
    }
}


