body {
    display: flex;
    flex-direction: column;
}


/* BOTTOM-BAR  */
.bottom-bar {
    height: 80px;
    padding: 0px 10px;

    justify-content: space-between;

    z-index: 1;
}

/* bottom-bar-*-side  */
.bottom-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;

    align-items: center;
}
.bottom-bar-left-side li , .bottom-bar-right-side li , .bottom-bar-central-side ul li {
    padding: 0 5px;
}

/* .bottom-bar-left-side  */
.bottom-bar-left-side-img-container img {
    width: 50px;
}

/* central side  */
.bottom-bar-central-side {
    flex-grow: 1;
}
.bottom-bar-central-side-play {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.bottom-bar-central-side li.progress{
    width: 100%;
    max-width: 350px;
    height: 3px;
    padding:0;
    margin: 0 10px;
}
.bottom-bar-central-side .play-bar {
    justify-content: center;
}
.bottom-bar-central-side .play-bar li {
    padding: 0 10px;
}
.bottom-bar-central-side .play-bar .glyphicon-play-circle {
    font-size: 30px;
}
.bottom-bar-central-side .loading-bar {
    align-items: baseline;
    justify-content: center;
}
.loading-bar .progress-bar-success {
    background-color: grey;
}

/* right side  */
.bottom-bar-right-side li.progress{
    width: 110px;
    height: 3px;
    padding:0;
    margin: 0 10px;
}


/* MAIN CONTENT  */
.main-content {
    height: calc(100vh - 80px);
}

/* left-aside  */
.main-content .left-aside {
    flex-direction: column;

    width: 220px;

    background-color: rgb(1, 0, 0);
}
.left-aside > * {
    padding-top: 10px;
}
.left-aside > * > * {
    padding:5px 0;
}
.logo-spotify img {
    width: 120px;
}
.home-bar li span.glyphicon {
    font-size: 20px;
}
.playlist-bar {
    flex-grow: 1;

    overflow: auto;
}
.playlist-bar span.glyphicon-plus {
    width: 35px;
    line-height: 35px;
}
.profile-bar .glyphicon.glyphicon-user {
    font-size: 10px;
    text-align: center;
}
.profile-bar span.glyphicon.glyphicon-user {
    border-radius: 50%;
    background-color: gray;
    width: 15px;
    line-height: 15px;
}
.profile-bar span.hr {
    border-bottom:1px solid grey;
    padding:0;
    width: 160px;
    display: inline-block;
}
.home-bar li a{
    line-height: 20px;
}

/* right-content-top-bar  */
.right-content .top-bar {
    width: 100%;
    height: 70px;

    background-color: rgb(9, 11, 18);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.right-content .top-bar a {
    background-color: transparent;
    padding: 8px 40px;
}

/* right-content  */
.main-content .right-content {
    height: 100%;
    width: 100%;
    background-color: rgb(22, 25, 33);
}
.right-content .content {
    flex-direction: column;
    align-items: center;

    padding-top: 20px;
    padding-left: 15px;

    overflow: auto;
    height: calc(100% - 80px);
}
.top-nav ul {
    flex-wrap: wrap;
    justify-content: center;
}
.content .top-nav ul a{
    color: grey;
    padding: 0px 15px;
}
.album-block {
    align-self: flex-start;
}
.album-block img {
    width: 100%;

    padding: 20px 20px 15px 0;
}

/* first row of album  */
.first-row {
    flex-wrap: wrap;
}
.disk-container {
    flex-basis: calc(100% / 6);
}

/* second row of album  */








/* TESTI HOVER MAIN CONTENT  */
.content .top-nav ul a:hover {
    color: white;

}

/* HOVER  */
a:hover {
    text-decoration: none;
}

a.text-grey:hover {
    color: white;
}
span.text-grey:hover {
    color: white;
}



/* hover button  */
.right-content .top-bar a:hover {
    padding: 10px 45px;
    color: white;
}


/* hover bottom-bar  */
.bottom-bar-left-side-text-container p small:hover {
    color: white;
    text-decoration: underline;
}



